@import "tailwindcss";
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  cursor: url("/cursor/sword_cursor.png") 12 12, auto;
}

/* a:hover,
button:hover [role="button"]:hover,
.cursor-pointer:hover {
  cursor: url("/cursor/sword_cursor_hover.png") 12 12, auto;
} */

/* @layer utilities {
  .cursor-sword {
    cursor: url("/cursor/sword_cursor.png") 12 12, auto;
  }
  .cursor-sword-hover:hover {
    cursor: url("/cursor/sword_cursor_hovered.png") 12 12, pointer;
  }
} */
